.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  width: 330px;
  color: #fff;
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-radius: 16px;
  position: relative;
}

label {
  position: relative;
}

input,
textarea {
  width: 316px;
  height: 36px;
  padding-left: 10px;
  padding-top: 4px;
  color: #fff;
  background-color: #333;
  font-size: 14px;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  outline: 0;
}

textarea {
  resize: none;
  height: auto;
  padding-top: 16px;
}

input::placeholder,
textarea::placeholder {
  font-size: small;
}

input + span,
textarea + span {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: text;
  transition: 0.4s ease-in-out;
}

input:focus + span,
textarea:focus + span,
input:valid + span,
textarea:valid + span,
input:placeholder-shown + span,
textarea:placeholder-shown + span {
  top: -2px;
  transform: none;
  color: #00bfff;
}

small {
  color: rgba(255, 255, 255, 0.7);
}

button {
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  background-color: #00bfff;
  transition: 0.3s ease;
}

button:hover {
  background-color: #00bfffba;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
