.popup {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: #1a1a1a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.heading {
  font-size: 20px;
  margin: 0;
  margin-bottom: 4px;
  padding: 4px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
  position: relative;
}

.heading::before {
  width: 18px;
  height: 18px;
}

.heading::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.heading::before,
.heading::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message {
  color: #00bfff;
  font-size: 36px;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
